html {
		font-family: sans-serif;
	}

	body {
		background: #e8e8e8 no-repeat fixed center;
		color: white;
	}

	.header {
		background-color :#33b5e5;
		padding: 10px;
		margin: 10px 10px 20px 10px;
		text-align: center;
	}

	.body {
		background-color :#33b5e5;
		padding: 10px;
		margin: 10px 10px 20px 10px;
		text-align: justify;
	}